# Byte-compiled / optimized / DLL files
__pycache__/
Sol/Models/__pycache__/
Sol/Models/__pycache__
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg


Libraries

.idea

Sol/PyBullet/__pycache__
Sol/PyBullet/__pycache__/BaseAviary.cpython-38.pyc
Sol/__pycache__
Sol/__pycache__/


Sol/results
/Sol/results/
logs.txt
runs/
/runs/


AirSimSol/Blocks/
AirSimSol/MSBuild2018/

PPO-based-Autonomous-Navigation-for-Quadcopters-main/


# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
libstdc++.so.6.0.25
cuda-keyring_1.1-1_all.deb

Replay Buffer
*.pkl
Sol/Utilities/csv_r.py
Sol/visual/based.csv
Sol/visual/graphviz_policy_graph.png

flightmare/
safe-control-gym/
Sol/logs/concats/PPO 05.11.2024_11.37.31.csv
Sol/rollouts/
