gymnasium~=0.28.1
numpy~=1.24.3
matplotlib~=3.7.4
pybullet~=3.25
tensorflow~=2.10.1
gym~=0.26.1
pandas~=2.0.3
pillow~=10.1.0
wandb~=0.16.1
pyflyt~=0.15.4
cycler~=0.12.1
scipy~=1.10.1
setuptools~=68.2.2
msgpack-python~=0.5.6
airsim~=1.8.1
numba~=0.58.1
h5py~=3.10.0
keras~=2.10.0
six~=1.16.0
wrapt~=1.16.0
typing_extensions~=4.7.1
cloudpickle~=2.2.1
pettingzoo~=1.24.2
yaml~=0.2.5
pyyaml~=6.0.1
tqdm~=4.65.0